<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block description %}AfterUber{% endblock %}">
    <meta name="author" content="">
    {% block meta %}{% endblock %}
    <link rel="shortcut icon" href="/assets/ico/favicon.ico">

    <title>{% block title %}AfterUber discounts{% endblock %}</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/app.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<!-- Begin page content -->
{% block content %}
    <div class="container">
        {% block container %}

        {% endblock %}
    </div>
{% endblock %}


<!-- Bootstrap core JavaScript
================================================== -->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key={{  api_key }}"></script>
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Check for jQuery and Bootstrap, load them locally if they don't exist -->
<script>if(!window.jQuery){document.write('<script src="/js/vendor/jquery.min.js"><\/script>')};</script>
<script>if(typeof $.fn.emulateTransitionEnd != 'function'){document.write('<script src="/js/vendor/bootstrap.min.js"><\/script>')};</script>
<script src="/js/app.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>